.main{
    position: fixed;
    padding-top: 50px;
    bottom:0px;
    height:100%;
    width:100%;
    z-index: 1;
    background-color: #434343;
    background-image: -url('https://i.gifer.com/9QyD.gif');
}