
.single-movie-view {

  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  background-size: cover;
}
.movie-backdrop{
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  object-fit: fill;
  margin: 0;
  padding: 0;
  
}
.single-movie-btn{
  grid-column: 1;
  grid-row: 1;
  z-index: 6;
  margin-top: 10px;
  height: 5vh;
  width: 5vw;
  margin-left: 20px;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.single-movie-btn:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.single-movie-btn:active {
	position:relative;
	top:1px;
}
.single-movie-btn img{
  position: relative;
  height: 100%;
  width: auto;
  z-index: 1;
}

.cover-poster {
  position: absolute;
  z-index: 1;
  grid-column: 1 / 1;
  grid-row: span 3;
  height: 100%;
  width: 100%;
}
.cover-poster img {
  position: absolute;
  left: 10%;
  top: 3%;
  height: 90%;
  width: auto;
  box-shadow: 1px 0px 15px 5px #000000;
}

.movie-details {
  background-color:rgba(41, 41, 41, 0.986);
  box-shadow: 1px 0px 15px 2px #000000;
  height: 95%;
  margin-top: -100px;
  width: 95%;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  z-index: 3;
  overflow-y: auto;
  border-radius: 15px;
  padding: 10px;


}
.md-item{
  width: auto;
  height: auto;
  margin: -5px;
}
.movie-details p {
  color: white;
}
.md-title{
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: bold;
}
.md-button {
  margin: 30px;
  height: 55px;
}
.md-trailer {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  font-size: 1.5em;
}


.md-descriptor{
  color: rgb(36, 36, 36);
  font-size: .8em;
  margin-bottom:-15px;
}